## Downloading the data and working with it

In [1]:
! mkdir ~/.kaggle

mkdir: /Users/Denny/.kaggle: File exists

In [2]:
! cp kaggle.json ~/.kaggle/

In [3]:
! chmod 600 ~/.kaggle/kaggle.json

In [20]:
! kaggle datasets download -d 'nehaprabhavalkar/av-healthcare-analytics-ii'

Downloading av-healthcare-analytics-ii.zip to /Users/Denny/Desktop/Hackathons/Pitt-Hackathon
100%|██████████████████████████████████████| 6.54M/6.54M [00:00<00:00, 10.2MB/s]
100%|██████████████████████████████████████| 6.54M/6.54M [00:00<00:00, 12.0MB/s]

In [5]:
!unzip av-healthcare-analytics-ii.zip

Archive:  av-healthcare-analytics-ii.zip
  inflating: healthcare/sample_sub.csv
  inflating: healthcare/test_data.csv
  inflating: healthcare/train_data.csv
  inflating: healthcare/train_data_dictionary.csv

In [21]:
import numpy as np
import pandas as pd
pd.read_csv('healthcare/sample_sub.csv')

        case_id  Stay
0        318439  0-10
1        318440  0-10
2        318441  0-10
3        318442  0-10
4        318443  0-10
...         ...   ...
137052   455491  0-10
137053   455492  0-10
137054   455493  0-10
137055   455494  0-10
137056   455495  0-10

[137057 rows x 2 columns]

In [22]:
df_train = pd.read_csv('healthcare/train_data.csv',index_col='case_id')# ,index_col='case_id'

In [23]:
df_train
case_id
Hospital_code
Hospital_type_code
City_Code_Hospital
Hospital_region_code
Available Extra Rooms in Hospital
Department
Ward_Type
Ward_Facility_Code
Bed Grade
patientid
City_Code_Patient
Type of Admission
Severity of Illness
Visitors with Patient
Age
Admission_Deposit

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
case_id,,,,,,,,,,,,,,,,,
1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318434,6,a,6,X,3,radiotherapy,Q,F,4.0,86499,23.0,Emergency,Moderate,3,41-50,4144.0,11-20
318435,24,a,1,X,2,anesthesia,Q,E,4.0,325,8.0,Urgent,Moderate,4,81-90,6699.0,31-40
318436,7,a,4,X,3,gynecology,R,F,4.0,125235,10.0,Emergency,Minor,3,71-80,4235.0,11-20
318437,11,b,2,Y,3,anesthesia,Q,D,3.0,91081,8.0,Trauma,Minor,5,11-20,3761.0,11-20
318438,19,a,7,Y,5,gynecology,Q,C,2.0,21641,8.0,Emergency,Minor,2,11-20,4752.0,0-10

In [24]:
df_test = pd.read_csv('healthcare/test_data.csv')

In [25]:
df_test

case_id
Hospital_code
Hospital_type_code
City_Code_Hospital
Hospital_region_code
Available Extra Rooms in Hospital
Department
Ward_Type
Ward_Facility_Code
Bed Grade
patientid
City_Code_Patient
Type of Admission
Severity of Illness
Visitors with Patient
Age
Admission_Deposit

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313.0
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510.0
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190.0
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435.0
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702.0

In [6]:
df_train_dict = pd.read_csv('healthcare/train_data_dictionary.csv')

In [7]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [8]:
for j,i in enumerate(df_train.columns):
    print(f'Column: \033[1m{i}\033[0m, \nDescription: \033[1m{df_train_dict["Description"][j+1]}\033[0m \nUnique Values: \033[1m{df_train[i].sort_values().unique()}\033[0m')
    print('\n')

Column: Hospital_code,
Description: Unique code for the Hospital
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32]


Column: Hospital_type_code,
Description: Unique code for the type of Hospital
Unique Values: ['a' 'b' 'c' 'd' 'e' 'f' 'g']


Column: City_Code_Hospital,
Description: City Code of the Hospital
Unique Values: [ 1  2  3  4  5  6  7  9 10 11 13]


Column: Hospital_region_code,
Description: Region Code of the Hospital
Unique Values: ['X' 'Y' 'Z']


Column: Available Extra Rooms in Hospital,
Description: Number of Extra rooms available in the Hospital
Unique Values: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 20 21 24]


Column: Department,
Description: Department overlooking the case
Unique Values: ['TB & Chest disease' 'anesthesia' 'gynecology' 'radiotherapy' 'surgery']


Column: Ward_Type,
Description: Code for the Ward type
Unique Values: ['P' 'Q' 'R' 'S' 'T' 'U']


Column: Ward_Facility_Code,
Description: Code for the Ward Facility
Unique Values: ['A' 'B' 'C' 'D' 'E' 'F']


Column: Bed Grade,
Description: Condition of Bed in the Ward
Unique Values: [ 1.  2.  3.  4. nan]


Column: patientid,
Description: Unique Patient Id
Unique Values: [     1      2      4 ... 131622 131623 131624]


Column: City_Code_Patient,
Description: City Code for the patient
Unique Values: [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 18. 19.
 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37.
 38. nan]


Column: Type of Admission,
Description: Admission Type registered by the Hospital
Unique Values: ['Emergency' 'Trauma' 'Urgent']


Column: Severity of Illness,
Description: Severity of the illness recorded at the time of admission
Unique Values: ['Extreme' 'Minor' 'Moderate']


Column: Visitors with Patient,
Description: Number of Visitors with the patient
Unique Values: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 30 32]


Column: Age,
Description: Age of the patient
Unique Values: ['0-10' '11-20' '21-30' '31-40' '41-50' '51-60' '61-70' '71-80' '81-90'
 '91-100']


Column: Admission_Deposit,
Description: Deposit at the Admission Time
Unique Values: [ 1800.  1801.  1802. ... 10842. 10999. 11008.]


Column: Stay,
Description: Stay Days by the patient
Unique Values: ['0-10' '11-20' '21-30' '31-40' '41-50' '51-60' '61-70' '71-80' '81-90'
 '91-100' 'More than 100 Days']

In [7]:
wards = pd.get_dummies(df_train['Ward_Type'],drop_first=True)
Age = pd.get_dummies(df_train['Age'],drop_first=True)
hospital_code =  pd.get_dummies(df_train['Hospital_code'],drop_first=True)
hospital_type_code =  pd.get_dummies(df_train['Hospital_type_code'],drop_first=True)
#city_code_hospital =  pd.get_dummies(df_train['City_Code_Hospital'],drop_first=True)
hospital_region_code =  pd.get_dummies(df_train['Hospital_region_code'],drop_first=True)
department = pd.get_dummies(df_train['Department'],drop_first=True)
ward_facility_code = pd.get_dummies(df_train['Ward_Facility_Code'],drop_first=True)
bed_grade = pd.get_dummies(df_train['Bed Grade'],drop_first=True)
admission_type = pd.get_dummies(df_train['Type of Admission'],drop_first=True)
severity = pd.get_dummies(df_train['Severity of Illness'],drop_first=True)
Target = pd.get_dummies(df_train['Stay'],drop_first=True)

In [10]:
Target.head()

,11-20,21-30,31-40,41-50,51-60,61-70,71-80,81-90,91-100,More than 100 Days
case_id,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0

In [11]:
Target.to_numpy().shape

(318438, 10)

In [8]:
df_train = pd.concat([df_train,Age,wards,hospital_code,hospital_type_code,hospital_region_code,department,ward_facility_code,bed_grade,admission_type,severity],axis = 1)

In [9]:
df_train.drop(['Age','Ward_Type','Hospital_code','Hospital_type_code','Hospital_region_code','Department','City_Code_Hospital','Ward_Facility_Code','Bed Grade','Type of Admission','Severity of Illness','patientid','Stay'],axis=1,inplace=True)

In [10]:
df_train.head()

,Available Extra Rooms in Hospital,City_Code_Patient,Visitors with Patient,Admission_Deposit,11-20,21-30,31-40,41-50,51-60,61-70,...,D,E,F,2.0,3.0,4.0,Trauma,Urgent,Minor,Moderate
case_id,,,,,,,,,,,,,,,,,,,,,
1,3,7.0,2,4911.0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
2,2,7.0,2,5954.0,0,0,0,0,1,0,...,0,0,1,1,0,0,1,0,0,0
3,2,7.0,2,4745.0,0,0,0,0,1,0,...,0,1,0,1,0,0,1,0,0,0
4,2,7.0,2,7272.0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0
5,2,7.0,2,5558.0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0

In [33]:
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms, utils
import torch
import torch.nn as nn
import torch.nn.functional as F
import matplotlib.pyplot as plt
%matplotlib inline


class My_Dataset(Dataset):
    
    def __init__(self,X,Y):
        self.X = X
        self.Y = Y
        
    def __len__(self):
        return len(self.Y)
    
    def __getitem__(self,index):
        X = self.X[index]
        Y = self.Y[index].long()
        return X,Y

In [34]:
df_train.to_numpy().shape

(318438, 72)

In [16]:
df_train

,Available Extra Rooms in Hospital,City_Code_Patient,Visitors with Patient,Admission_Deposit,11-20,21-30,31-40,41-50,51-60,61-70,...,D,E,F,2.0,3.0,4.0,Trauma,Urgent,Minor,Moderate
case_id,,,,,,,,,,,,,,,,,,,,,
1,3,7.0,2,4911.0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
2,2,7.0,2,5954.0,0,0,0,0,1,0,...,0,0,1,1,0,0,1,0,0,0
3,2,7.0,2,4745.0,0,0,0,0,1,0,...,0,1,0,1,0,0,1,0,0,0
4,2,7.0,2,7272.0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0
5,2,7.0,2,5558.0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318434,3,7.0,3,4144.0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
318435,2,7.0,4,6699.0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,1
318436,3,7.0,3,4235.0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
318437,3,7.0,5,3761.0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
318438,5,7.0,2,4752.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [15]:
df_train
df_train['City_Code_Patient']=7.0

In [12]:
for i in df_train.columns:
    print(i)

Available Extra Rooms in Hospital
City_Code_Patient
Visitors with Patient
Admission_Deposit
11-20
21-30
31-40
41-50
51-60
61-70
71-80
81-90
91-100
Q
R
S
T
U
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
b
c
d
e
f
g
Y
Z
anesthesia
gynecology
radiotherapy
surgery
B
C
D
E
F
2.0
3.0
4.0
Trauma
Urgent
Minor
Moderate

In [37]:
# This has null values so if we want to keep it we just have to replace them (i just dropped them)
df_train.drop('City_Code_Patient',axis=1,inplace=True)

KeyError: "['City_Code_Patient'] not found in axis"

In [38]:
df_train.head()

,Available Extra Rooms in Hospital,Visitors with Patient,Admission_Deposit,11-20,21-30,31-40,41-50,51-60,61-70,71-80,...,D,E,F,2.0,3.0,4.0,Trauma,Urgent,Minor,Moderate
case_id,,,,,,,,,,,,,,,,,,,,,
1,3,2,4911.0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
2,2,2,5954.0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,1,0,0,0
3,2,2,4745.0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,1,0,0,0
4,2,2,7272.0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
5,2,2,5558.0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0

In [39]:
x = torch.Tensor(df_train.to_numpy())
y = torch.Tensor(Target.to_numpy())

In [40]:
train_dataset = My_Dataset(x,y)

In [41]:
train_loader_args = dict(shuffle=True,batch_size=1024,drop_last=True) 
train_loader = DataLoader(train_dataset, **train_loader_args)

In [42]:
class Model(nn.Module):

    def __init__(self,in_features=72,h1=2048,h2=2048,h3 = 1028,out_features=10):
        
        # How many layers?
        # Input layer (# of features) --> hidden layer 1 (number of neurons N) --> h2 (N) --> output (346 of classes)
        super().__init__()
        self.fc1 = nn.Linear(in_features,h1)
        self.bn1 = nn.BatchNorm1d(num_features=h1,momentum=0.01)
        self.fc2 = nn.Linear(h1,h2)
        #self.d2 =  nn.Dropout(0.25)
        self.bn2 = nn.BatchNorm1d(num_features=h2,momentum=0.01)
        self.out = nn.Linear(h2,out_features)
  
    def forward(self,x):
        x = F.relu(self.bn1(self.fc1(x)))
        x = F.relu(self.bn2(self.fc2(x)))
        x = self.out(x)
        return x

In [43]:
seq_model = Model()
device = torch.device("cuda")
seq_model.to(device)

Model(
  (fc1): Linear(in_features=72, out_features=2048, bias=True)
  (bn1): BatchNorm1d(2048, eps=1e-05, momentum=0.01, affine=True, track_running_stats=True)
  (fc2): Linear(in_features=2048, out_features=2048, bias=True)
  (bn2): BatchNorm1d(2048, eps=1e-05, momentum=0.01, affine=True, track_running_stats=True)
  (out): Linear(in_features=2048, out_features=10, bias=True)
)

In [19]:
import torch 
t = torch.tensor(10)
int(t)

10

In [44]:

criterion = nn.CrossEntropyLoss()

optimizer = torch.optim.Adam(seq_model.parameters(),lr=1e-4)

In [45]:
%%time
# EPOCHS 
seq_model.train()
epochs = 25
losses = []
loss = []
val_error = []
validation_losses = []
for i in range(epochs):
    losses.append(loss)
    #validation_losses.append(val_error)
    seq_model.train()
    print(f'Epoch {i}, loss {loss}')
    for (xi,yi) in train_loader:
        optimizer.zero_grad()
        xi = xi.to(device)
        yi = yi.to(device)
        output = seq_model(xi)
        _,Y = torch.max(yi,1)
        loss = criterion(output.float(),Y)
        #loss = criterion(torch.argmax(output,1).reshape(-1,1).float(),torch.argmax(yi,1).reshape(-1,1).float())
        loss.backward()
        optimizer.step()

Epoch 0, loss []

KeyboardInterrupt: